[submodule "libos"]
	path = libos
	url = ../libos.git
[submodule "dtc"]
	path = dtc
	url = ../dtc.git
[submodule "test/sim"]
	path = test/sim
	url = git://auslxsc02.mtwk.freescale.net/git/e500mc/sim.git
