config PROJECTVERSION
	string
	option env="PROJECTVERSION"

config NS16550
	bool "NS16550-compatible UART support"
	help
		Say "Y" to support serial ports compatible with the National
		Semiconductor 16550 line of UART chips (including PC-style
		UARTs).  This provides a libos character device that can
		be used for byte channels, byte channel muxes, and the
		hypervisor console.

config LIBOS_QUEUE
	bool

config BYTE_CHAN
	bool "Byte-channel support"
	select LIBOS_QUEUE
	help
		Byte channels are a bidirectional pipe mechanism that
		allows communication between guests, character devices,
		multiplexers, and other components.

config BCMUX
	bool "Byte-channel multiplexer"
	depends on BYTE_CHAN
	help
		Byte channel multiplexing creates virtual channels over
		a single combined byte channel.  It is useful for, among
		other things, sharing a single serial port for the
		consoles of all guests.

config GDB_STUB
	bool "GDB Stub Support"
	depends on BYTE_CHAN
	help
		Enable GDB stub support.  This allows you to debug the guest 
		remotely with GDB.  The stub is located in the hypervisor, 
		allowing non-intrusive debugging.

config IPI_DOORBELL
	bool "Inter Partition Interrupt support"
	select LIBOS_QUEUE
	help
		Provides support for inter partition signalling.
