/dts-v1/;

/ {
	compatible = "fsl,hv-config";

	hv: hv-config {
		compatible = "hv-config";
		stdout = <&uart0>;
		
		memory {
			compatible = "hv-memory";
			phys-mem = <&pma4>;
		};

		uart0: uart0 {
			device = "serial0";
		};

		uart1: uart1 {
			device = "serial1";
		};

		mpic {
			device = "/soc/pic";
		};

		iommu {
			device = "/soc/iommu";
		};
	};

	phys-mem {
		pma0:pma0 {
			compatible = "phys-mem-area";
			addr = <0 0>;
			size = <0 0x10000000>;
		};

		pma1:pma1 {
			compatible = "phys-mem-area";
			addr = <0 0x10000000>;
			size = <0 0x10000000>;
		};

		pma2:pma2 {
			compatible = "phys-mem-area";
			addr = <0 0x20000000>;
			size = <0 0x10000000>;
		};

		pma3:pma3 {
			compatible = "phys-mem-area";
			addr = <0 0x30000000>;
			size = <0 0x10000000>;
		};

		pma4:pma4 {
			compatible = "phys-mem-area";
			addr = <0 0x40000000>;
			size = <0 0x2000000>;
		};
	};

	uartmux: uartmux {
		compatible = "byte-channel-mux";
		endpoint = <&uart1>;
	};

	partitions {

		part1 {
			compatible = "partition";
			cpus = <0 1>;
			guest-image = <0 0xe8200000 0 0 0 0x200000>;
			dtb-window = <0 0x01000000 0 0x10000>;

			gpma {
				compatible = "guest-phys-mem-area";
				phys-mem = <&pma0>;
				guest-addr = <0 0>;
			};

			gdb-stub@0 {
				compatible = "gdb-stub";
				endpoint = <&uartmux>;
				mux-channel = <0>;
				debug-cpus = <0 1>; //virtual cpu 0
			};
		};

		part2 {
			compatible = "partition";
			cpus = <1 1>;
			guest-image = <0 0xe8200000 0 0 0 0x200000>;
			dtb-window = <0 0x01000000 0 0x10000>;

			gpma {
				compatible = "guest-phys-mem-area";
				phys-mem = <&pma1>;
				guest-addr = <0 0>;
			};

			gdb-stub@1 {
				compatible = "gdb-stub";
				endpoint = <&uartmux>;
				mux-channel = <1>;
				debug-cpus = <0 1>; //virtual cpu 0
			};
		};

		part3 {
			compatible = "partition";
			cpus = <2 1>;
			guest-image = <0 0xe8200000 0 0 0 0x200000>;
			dtb-window = <0 0x01000000 0 0x10000>;

			gpma {
				compatible = "guest-phys-mem-area";
				phys-mem = <&pma2>;
				guest-addr = <0 0>;
			};

			gdb-stub@2 {
				compatible = "gdb-stub";
				endpoint = <&uartmux>;
				mux-channel = <2>;
				debug-cpus = <0 1>; //virtual cpu 0
			};
		};

		part4 {
			compatible = "partition";
			cpus = <3 1>;
			guest-image = <0 0xe8200000 0 0 0 0x200000>;
			dtb-window = <0 0x01000000 0 0x10000>;

			gpma {
				compatible = "guest-phys-mem-area";
				phys-mem = <&pma3>;
				guest-addr = <0 0>;
			};

			gdb-stub@3 {
				compatible = "gdb-stub";
				endpoint = <&uartmux>;
				mux-channel = <3>;
				debug-cpus = <0 1>; //virtual cpu 0
			};
		};
	};

	chosen {
	};
};
