/*
 * MPC8578 Simulator Device Tree Source
 *
 * Copyright 2007 Freescale Semiconductor Inc.
 *
 * This program is free software; you can redistribute  it and/or modify it
 * under  the terms of  the GNU General  Public License as published by the
 * Free Software Foundation;  either version 2 of the  License, or (at your
 * option) any later version.
 */

/ {
	model = "fsl,MPC8578SIM";
	compatible = "fsl,MPC8578SIM";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		linux,stdout-path = "/soc@fe000000/serial@11d500";
		bootargs = "console=ttyS0,115200 simicsfs=0xeff00000";
		linux,initrd-start = <01300000>;
		linux,initrd-end = <013ca000>;
	};

	aliases {
		ethernet0 = "/soc@fe000000/ethernet@31c000";
		ethernet1 = "/soc@fe000000/ethernet@31d000";
		ethernet2 = "/soc@fe000000/ethernet@31e000";
		ethernet3 = "/soc@fe000000/ethernet@31f000";
		serial0 = "/soc@fe000000/serial@11c500";
		serial1 = "/soc@fe000000/serial@11c600";
		serial2 = "/soc@fe000000/serial@11d500";
		serial3 = "/soc@fe000000/serial@11d600";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "fsl,e500mc", "fsl,e500";
			reg = <0>;
			d-cache-line-size = <20>;
			i-cache-line-size = <20>;
			d-cache-size = <8000>;
			i-cache-size = <8000>;
			timebase-frequency = <d#83333333>;
			bus-frequency = <d#666666666>;
			clock-frequency = <d#666666666>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "fsl,e500mc", "fsl,e500";
			reg = <1>;
			d-cache-line-size = <20>;
			i-cache-line-size = <20>;
			d-cache-size = <8000>;
			i-cache-size = <8000>;
			timebase-frequency = <d#83333333>;
			bus-frequency = <d#666666666>;
			clock-frequency = <d#666666666>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0 10000000>;
	};

	soc@fe000000 {
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "soc";
		ranges = <0 fe000000 400000>;
		reg = <fe000000 1000>;
		bus-frequency = <d#666666666>;

		memory-controller@8000 {
			compatible = "fsl,mpc8578-memory-controller";
			reg = <8000 1000>;
			interrupt-parent = <&mpic>;
			interrupts = <12 2>;
		};

		memory-controller@9000 {
			compatible = "fsl,mpc8578-memory-controller";
			reg = <9000 1000>;
			interrupt-parent = <&mpic>;
			interrupts = <12 2>;
		};

		i2c@118000 {
			device_type = "i2c";
			compatible = "fsl-i2c";
			reg = <118000 100>;
			interrupts = <1e 2>;
			interrupt-parent = <&mpic>;
			dfsrr;
		};

		i2c@118100 {
			device_type = "i2c";
			compatible = "fsl-i2c";
			reg = <118100 100>;
			interrupts = <1e 2>;
			interrupt-parent = <&mpic>;
			dfsrr;
		};

		mdio@31c520 {
			#address-cells = <1>;
			#size-cells = <0>;
			device_type = "mdio";
			compatible = "gianfar";
			reg = <31c520 20>;
			phy0: ethernet-phy@0 {
				interrupt-parent = <&mpic>;
				interrupts = <a 1>;
				reg = <0>;
			};
			phy1: ethernet-phy@1 {
				interrupt-parent = <&mpic>;
				interrupts = <a 1>;
				reg = <1>;
			};
			phy2: ethernet-phy@2 {
				interrupt-parent = <&mpic>;
				interrupts = <a 1>;
				reg = <2>;
			};
			phy3: ethernet-phy@3 {
				interrupt-parent = <&mpic>;
				interrupts = <a 1>;
				reg = <3>;
			};
		};

		ethernet@31c000 {
			#address-cells = <1>;
			#size-cells = <0>;
			device_type = "network";
			model = "eTSEC";
			compatible = "gianfar";
			reg = <31c000 1000>;
			local-mac-address = [ 00 00 00 00 00 00 ];
			interrupts = <1d 2 1e 2 22 2>;
			interrupt-parent = <&mpic>;
			phy-handle = <&phy0>;
			phy-connection-type = "rgmii-id";
		};

		ethernet@31d000 {
			#address-cells = <1>;
			#size-cells = <0>;
			device_type = "network";
			model = "eTSEC";
			compatible = "gianfar";
			reg = <31d000 1000>;
			local-mac-address = [ 00 00 00 00 00 00 ];
			interrupts = <23 2 24 2 28 2>;
			interrupt-parent = <&mpic>;
			phy-handle = <&phy1>;
			phy-connection-type = "rgmii-id";
		};

		ethernet@31e000 {
			#address-cells = <1>;
			#size-cells = <0>;
			device_type = "network";
			model = "eTSEC";
			compatible = "gianfar";
			reg = <31e000 1000>;
			local-mac-address = [ 00 00 00 00 00 00 ];
			interrupts = <1f 2 20 2 21 2>;
			interrupt-parent = <&mpic>;
			phy-handle = <&phy2>;
			phy-connection-type = "rgmii-id";
		};

		ethernet@31f000 {
			#address-cells = <1>;
			#size-cells = <0>;
			device_type = "network";
			model = "eTSEC";
			compatible = "gianfar";
			reg = <31f000 1000>;
			local-mac-address = [ 00 00 00 00 00 00 ];
			interrupts = <25 2 26 2 27 2>;
			interrupt-parent = <&mpic>;
			phy-handle = <&phy3>;
			phy-connection-type = "rgmii-id";
		};

		serial@11d500 {
			device_type = "serial";
			compatible = "ns16550";
			reg = <11d500 100>;
			clock-frequency = <0>;
			interrupts = <1d 2>;
			interrupt-parent = <&mpic>;
		};

		serial@11d600 {
			device_type = "serial";
			compatible = "ns16550";
			reg = <11d600 100>;
			clock-frequency = <0>;
			interrupts = <1d 2>;
			interrupt-parent = <&mpic>;
		};

		global-utilities@e0000 {	//global utilities block
			compatible = "fsl,mpc8572-guts";
			reg = <e0000 1000>;
			fsl,has-rstcr;
		};

		mpic: pic@40000 {
			clock-frequency = <0>;
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <2>;
			reg = <40000 40000>;
			compatible = "chrp,open-pic";
			device_type = "open-pic";
			big-endian;
		};
	};
};
