/ {
	model = "fsl,MPC8578SIM";
	compatible = "fsl,MPC8578SIM";
	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		linux,stdout-path = "/soc@fe000000/serial@11c600";
		bootargs = "console=ttyS0,115200 simicsfs=0xeff00000";
		linux,initrd-start = <01300000>;
		linux,initrd-end = <013ca000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		PowerPC,8578@0 {
			device_type = "cpu";
			reg = <0>;
			d-cache-line-size = <20>;
			i-cache-line-size = <20>;
			d-cache-size = <8000>;
			i-cache-size = <8000>;
			timebase-frequency = <d#83333333>;
			bus-frequency = <d#666666666>;
			clock-frequency = <d#666666666>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0 10000000>;
	};

	soc@fe000000 {
		#address-cells = <1>;
		#size-cells = <1>;
		device_type = "soc";
		ranges = <0 fe000000 400000>;
		reg = <fe000000 1000>;
		bus-frequency = <d#666666666>;

		memory-controller@8000 {
			compatible = "fsl,mpc8578-memory-controller";
			reg = <8000 1000>;
			interrupt-parent = <&PIC>;
			interrupts = <12 2>;
		};

		memory-controller@9000 {
			compatible = "fsl,mpc8578-memory-controller";
			reg = <9000 1000>;
			interrupt-parent = <&PIC>;
			interrupts = <12 2>;
		};


		i2c@118000 {
			device_type = "i2c";
			compatible = "fsl-i2c";
			reg = <118000 100>;
			interrupts = <1e 2>;
			interrupt-parent = <&PIC>;
			dfsrr;
		};

		serial@11c600 {
			device_type = "serial";
			compatible = "ns16550";
			reg = <11c600 100>;
			clock-frequency = <0>;
			interrupts = <1c 2>;
			interrupt-parent = <&PIC>;
		};

		global-utilities@e0000 {
			compatible = "fsl,mpc8572-guts";
			reg = <e0000 1000>;
			fsl,has-rstcr;
		};

		PIC: pic@40000 {
			clock-frequency = <0>;
			interrupt-controller;
			#address-cells = <0>;
			#interrupt-cells = <2>;
			reg = <40000 40000>;
			compatible = "chrp,open-pic";
			device_type = "open-pic";
			big-endian;
		};
	};
};
